<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<context-param>
		<param-name>DBUSER</param-name>
		<param-value>root</param-value>
	</context-param>
	
	<context-param>
		<param-name>DBPASS</param-name>
		<param-value></param-value>
	</context-param>

	<context-param>
		<param-name>DBURL</param-name>
		<param-value>jdbc:mysql://localhost:3306/</param-value>
	</context-param>
	
	<context-param>
		<param-name>DRIVER</param-name>
		<param-value>com.mysql.Driver</param-value>
	</context-param>

	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

</web-app>